.course-detail {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
.print {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .course-detail {
    grid-template-columns: 1fr;
  }
}
